.vot-list {
  column-width: 20rem;
  column-gap: 6.4rem;
  margin: 0 0 6.4rem 0;
}

.vot-list__group {
  margin: 0 0 3.2rem 0;
}

.vot-list__group-title {
  margin: 0 0 1.6rem 0;
}

.vot-list__group-list {
  
}

.vot-list__group-listitem {
  line-height: 1.3;
  margin: 0 0 0.6rem 0;
}

.vot-list__link {
  color: rgba(0, 0, 0, 0.7);
  display: block;
}

.vot-list--bynumber .vot-list__link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.vot-list__link:hover {
  color: rgba(0, 0, 0, 1);
}

.vot-list__name {
  margin-right: 0.4rem;
}

.vot-list__id {
  opacity: 0.5;
}

.vot-list--bynumber .vot-list__id {
  margin-right: 0.8rem;
}